# Extracción, Transformación y Limpieza (ETL)

Este notebook realiza la limpieza y transformación del dataset de interacciones de publicaciones de Facebook, preparando los datos para análisis exploratorio y modelado que realizaremos en un futuro.

**Objetivos:**
- Importación y carga de datos.
- Transformación de columnas.
- Cambio de tipo de variables.
- Identificación y tratamiento de datos nulos.
- Exportación final.

## Importación de librerías

In [1]:
import pandas as pd

## Definición de rutas y carga de datos

In [2]:
# creamos una variable que contiene la ruta del archivo csv descargado, y otra con la ruta donde guardaréguardaremos el dataset limpio
raw_path = "/Users/elena/Downloads/Data_science/proyectos/proyecto_I/interacciones-Facebook/data/dataset_Facebook.csv"
processed_path = "/Users/elena/Downloads/Data_science/proyectos/proyecto_I/interacciones-Facebook/data/dataset_limpio.csv"

# guardamos el archivo en un dataframe
df_raw = pd.read_csv(raw_path, sep=';')
df_raw.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

## Información general de la BBDD

In [3]:
df_raw.info()

# estadísticas básicas para variables numéricas
df_raw.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Type                                                                 500 non-null    object
 2   Category                                                             500 non-null    int64
 3   Post Month                                                           500 non-null    int64
 4   Post Weekday                                                         500 non-null    int64
 5   Post Hour                                                            500 non-null    int64
 6   Paid                                                                 499 non-null    float64
 7   Lifetime Post Total Reach                                            500 non-null    int64
 8   Lifetime Post Total Impressions                                      500 non-null    int64
 9   Lifetime Engaged Users                                               500 non-null    int64
 10  Lifetime Post Consumers                                              500 non-null    int64
 11  Lifetime Post Consumptions                                           500 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         500 non-null    int64
 13  Lifetime Post reach by people who like your Page                     500 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  500 non-null    int64
 15  comment                                                              500 non-null    int64
 16  like                                                                 499 non-null    float64
 17  share                                                                496 non-null    float64
 18  Total Interactions                                                   500 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000000,500.000000,500.000000,500.000000,500.000000,499.000000,500.00000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.00000,499.000000,496.000000,500.000000
mean,123194.176000,1.880000,7.038000,4.150000,7.840000,0.278557,13903.36000,2.958595e+04,920.344000,798.772000,1415.130000,1.676638e+04,6585.488000,609.986000,7.48200,177.945892,27.266129,212.120000
std,16272.813214,0.852675,3.307936,2.030701,4.368589,0.448739,22740.78789,7.680325e+04,985.016636,882.505013,2000.594118,5.979102e+04,7682.009405,612.725618,21.18091,323.398742,42.613292,380.233118
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.00000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.00000,0.000000,0.000000,0.000000
25%,112676.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3315.00000,5.694750e+03,393.750000,332.500000,509.250000,3.969750e+03,2181.500000,291.000000,1.00000,56.500000,10.000000,71.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5281.00000,9.051000e+03,625.500000,551.500000,851.000000,6.255500e+03,3417.000000,412.000000,3.00000,101.000000,19.000000,123.500000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,1.000000,13168.00000,2.208550e+04,1062.000000,955.500000,1463.000000,1.486050e+04,7989.000000,656.250000,7.00000,187.500000,32.250000,228.500000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.00000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.00000,5172.000000,790.000000,6334.000000

## Limpieza de los datos

In [4]:
# hemos visto varias cosas a cambiar:
# 1. renombrar columnas: quitar espacios iniciales/finales, convertir a minúsculas y reemplazar espacios por guiones bajos
# 2. eliminar la columna 'category' (sin significado conocido)
# 3. modificar tipos de variables:
    # - post_month, post_weekday, post_hour -> categóricas (representan mes, día y hora)
    # - paid -> categórica (1 = promocionada, 0 = orgánica)

# primero vamos a hacer una copia del dataframe original para no perder la información
df = df_raw.copy()

# renombramos las columnas
df.columns = (df.columns.str.strip().str.lower().str.replace(" ", "_"))

# eliminamos la columna 'category'
df.drop(columns=['category'], inplace=True)

# convertimos las variables a tipo categórico
cat_columns = ['post_month', 'post_weekday', 'post_hour', 'paid']
for col in cat_columns:
    df[col] = df[col].astype('category')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   page_total_likes                                                     500 non-null    int64
 1   type                                                                 500 non-null    object
 2   post_month                                                           500 non-null    category
 3   post_weekday                                                         500 non-null    category
 4   post_hour                                                            500 non-null    category
 5   paid                                                                 499 non-null    category
 6   lifetime_post_total_reach                                            500 non-null    int64
 7   lifetime_post_total_impressions                                      500 non-null    int64
 8   lifetime_engaged_users                                               500 non-null    int64
 9   lifetime_post_consumers                                              500 non-null    int64
 10  lifetime_post_consumptions                                           500 non-null    int64
 11  lifetime_post_impressions_by_people_who_have_liked_your_page         500 non-null    int64
 12  lifetime_post_reach_by_people_who_like_your_page                     500 non-null    int64
 13  lifetime_people_who_have_liked_your_page_and_engaged_with_your_post  500 non-null    int64
 14  comment                                                              500 non-null    int64
 15  like                                                                 499 non-null    float64
 16  share                                                                496 non-null    float64
 17  total_interactions                                                   500 non-null    int64
dtypes: category(4), float64(2), int64(11), object(1)
memory usage: 58.3+ KB

## Análisis de valores perdidos

In [6]:
# en el df.info() vemos que tenemos tres variables (paid, likes y shares) que tienen valores nulos (son pocos)

# primero vamos a ver las filas con valores nulos
null_rows = df[df.isnull().any(axis=1)]
print(null_rows)

     page_total_likes   type post_month post_weekday post_hour paid  \
111            136736  Photo         10            6         8  0.0
120            136393  Photo         10            7         9  0.0
124            136393  Photo         10            7         6  0.0
164            135428  Photo          9            5        10  0.0
499             81370  Photo          1            4         4  NaN

     lifetime_post_total_reach  lifetime_post_total_impressions  \
111                       1261                             2158
120                        584                             1029
124                        677                             1285
164                       1060                             2004
499                       4188                             7292

     lifetime_engaged_users  lifetime_post_consumers  \
111                      37                       37
120                     273                      271
124                     251                      246
164                     266                      251
499                     564                      524

     lifetime_post_consumptions  \
111                          49
120                         308
124                         297
164                         337
499                         743

     lifetime_post_impressions_by_people_who_have_liked_your_page  \
111                                               1911
120                                                943
124                                               1210
164                                               1705
499                                               3861

     lifetime_post_reach_by_people_who_like_your_page  \
111                                              1077
120                                               511
124                                               615
164                                               870
499                                              2200

     lifetime_people_who_have_liked_your_page_and_engaged_with_your_post  \
111                                                 33
120                                                232
124                                                211
164                                                204
499                                                316

     comment  like  share  total_interactions
111        0   NaN    NaN                   0
120        0   2.0    NaN                   2
124        0   7.0    NaN                   7
164        0  18.0    NaN                  18
499        0  91.0   28.0                 119

In [7]:
# vamos a ver que hacemos con los nulos
# hay un nulo en la variable 'paid', vamos a hacer un análisis simple de la variable para ver si podemos imputar el valor
df['paid'].value_counts(dropna=False)

paid
 0.0    360
 1.0    139
NaN       1
Name: count, dtype: int64

In [8]:
# hemos visto que la mayoría de las publicaciones tienen 'paid' = 0 (orgánica), son 360 orgánicas vs 139 promocionadas,
# como solo tenemos un valos nulo en esta variable, imputamos como 0.0 (orgánica) ya que es el caso más común 

# por otro lado tenemos los nulos de like y share, que son más fáciles de imputar porque tenemos la variable total_interactions,
# total_interactions = comments + likes  + shares, por lo que podemos imputar los nulos de likes y shares como:
# 111. 0 = 0 + like + share => like = share = 0
# 120. 2 = 0 + 2 + share => share = 0
# 124. 7 = 0 + 7 + share => share = 0
# 164. 18 = 0 + 18 + share => share = 0

# imputamos:
df['paid'] = df['paid'].fillna(0.0)  
df['like'] = df['like'].fillna(0)    
df['share'] = df['share'].fillna(0)

# comprobamos que no haya más nulos
df.isnull().sum()

page_total_likes                                                       0
type                                                                   0
post_month                                                             0
post_weekday                                                           0
post_hour                                                              0
paid                                                                   0
lifetime_post_total_reach                                              0
lifetime_post_total_impressions                                        0
lifetime_engaged_users                                                 0
lifetime_post_consumers                                                0
lifetime_post_consumptions                                             0
lifetime_post_impressions_by_people_who_have_liked_your_page           0
lifetime_post_reach_by_people_who_like_your_page                       0
lifetime_people_who_have_liked_your_page_and_engaged_with_your_post    0
comment                                                                0
like                                                                   0
share                                                                  0
total_interactions                                                     0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   page_total_likes                                                     500 non-null    int64
 1   type                                                                 500 non-null    object
 2   post_month                                                           500 non-null    category
 3   post_weekday                                                         500 non-null    category
 4   post_hour                                                            500 non-null    category
 5   paid                                                                 500 non-null    category
 6   lifetime_post_total_reach                                            500 non-null    int64
 7   lifetime_post_total_impressions                                      500 non-null    int64
 8   lifetime_engaged_users                                               500 non-null    int64
 9   lifetime_post_consumers                                              500 non-null    int64
 10  lifetime_post_consumptions                                           500 non-null    int64
 11  lifetime_post_impressions_by_people_who_have_liked_your_page         500 non-null    int64
 12  lifetime_post_reach_by_people_who_like_your_page                     500 non-null    int64
 13  lifetime_people_who_have_liked_your_page_and_engaged_with_your_post  500 non-null    int64
 14  comment                                                              500 non-null    int64
 15  like                                                                 500 non-null    float64
 16  share                                                                500 non-null    float64
 17  total_interactions                                                   500 non-null    int64
dtypes: category(4), float64(2), int64(11), object(1)
memory usage: 58.3+ KB

## Control de duplicados

In [11]:
# por último, revisaremos si hay alguna fila duplicada, y si la hay, la eliminaremos
df.duplicated().sum()

np.int64(0)

## Exportación del dataset limpio

In [12]:
# exportamos el dataset limpio
df.to_csv(processed_path, sep=';', index=False)